
<main class="main">
  <div class="content">
    <div class="left-side">
      <h1>Hello, {{ title }}</h1>
      <h2>Interpolation</h2>
      <p>Current Customer {{currentCustomer}}</p>

      <h2>Property binding</h2>
      <img src="{{ imageUrl }}" width="250" alt="Foto de carro">
      <br>
      <button type="button" [disabled]="disabled" >Botão disabled</button>
      <br>
      <p [class]="pillClass">Classe property binding</p>

      <h2>Event Binding</h2>
      <button (click)="addCount($event)">Counter {{ counter }}</button>
      <h2>Two Way Data Binding</h2>
      <label for="example-ngModel">Nome: {{ name }}</label>
      <br>
      <input [(ngModel)]="name" id="example-ngModel" />
    </div>
  </div>
</main>

<router-outlet />
